<!--
  Generated template for the AddressesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{translation['My addresses']}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="addAddress()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoadingcustomerAddresses" style="margin-top: 20%; margin-left: 50%;">
    <ion-spinner icon="spiral"></ion-spinner>
  </div>
  <div *ngIf="!customerAddresses && !isLoadingcustomerAddresses" style="text-align: center; padding: 30%">
    <ion-icon name="ios-alert" style="font-size: 5em;"></ion-icon>
    <br />
    <h5>{{translation['No address found']}}</h5>
    <hr />
  </div>
  <ion-card *ngFor="let address of customerAddresses; let index=index">
    <ion-card-header class="item item-divider">
      <p>{{address.alias}}</p>
    </ion-card-header>
    <ion-card-content class="item">
      <p>{{address?.firstname}} {{address?.lastname}}</p>
      <p>{{address?.company}}</p>
      <p>{{address?.address1}}</p>
      <p>{{address?.address2}}</p>
      <p>{{address?.postcode}} {{address?.city}}</p>
      <!--p>{{getStateByStateId(address.id_state).name}}, {{getCountryById(address.id_country).name}}</!--p-->
      <p>{{address?.phone}}</p>
      <p>{{address?.phone_mobile}}</p>
    </ion-card-content>
    <ion-row class="item tabs tabs-secondary tabs-icon-left">
      <ion-col align-self-center text-center>
        <button ion-button icon-start clear class="tab-item" (click)="editAddress(index)">
          <ion-icon name="ios-create-outline"></ion-icon>
          {{translation['Edit']}}
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <button ion-button icon-start clear class="tab-item" (click)="deleteAddress(index)">
          <ion-icon name="ios-trash-outline"></ion-icon>
          {{translation['Delete']}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>