.item{
        padding-left: 0;
}

.item:not(.item-divider) .icon{
    padding: 0 10px 0 15px;
}

.icon{
    padding: 0 10px 0 10px;
    font-size: 1.5em;
}

ion-item-divider > ion-icon {
    margin-right: 3%;
    margin-left: 3%;
}