<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>{{translation['My personal information']}}</ion-label>
    </ion-item-divider>
    <div style="color: red; padding-top: 0.2rem; padding-left: 0.7rem;" *ngIf="user.firstname?.length === 0">
      {{translation['Required Field Error']}}
    </div>
    <ion-item class="item item-ion-input">
      <ion-label class="ion-input-label">{{translation['First name']}}:</ion-label>
      <ion-input type="text" [(ngModel)]="user.firstname" required></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem; padding-left: 0.7rem;" *ngIf="user.lastname?.length === 0">
      {{translation['Required Field Error']}}
    </div>
    <ion-item class="item item-ion-input">
      <ion-label class="ion-input-label">{{translation['Last name']}}:</ion-label>
      <ion-input type="text" [(ngModel)]="user.lastname" required></ion-input>
    </ion-item>
    <ion-item class="item item-ion-input">
      <ion-label class="ion-input-label">{{translation['E-mail address']}}:</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" disabled required></ion-input>
    </ion-item>
    <ion-item class="item item-ion-input">
      <ion-label class="ion-input-label">{{translation['Date of Birth']}}:</ion-label>
      <ion-input type="date" [(ngModel)]="user.birthday"></ion-input>
    </ion-item>
  </ion-item-group>
  <div style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
    <ion-button *ngIf="user.id" (click)="updateCustomer()">{{translation['Save']}}</ion-button>
  </div>
  <ion-item-group>
    <ion-item-divider color="light">
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-label>{{translation['Change Password']}}</ion-label>
    </ion-item-divider>
    <ion-item class="item item-ion-input">
      <ion-label class="ion-input-label">{{translation['Current Password']}}:</ion-label>
      <ion-input type="password" [(ngModel)]="user.passwd" disabled></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem; padding-left: 0.7rem;"
      *ngIf="new_password.length >0 && new_password.length < 8">
      {{translation['Password Length Error']}}
    </div>
    <ion-item class="item item-ion-input">
      <ion-label class="ion-input-label">{{translation['New Password']}}:</ion-label>
      <ion-input type="password" [(ngModel)]="new_password"></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem; padding-left: 0.7rem;"
      *ngIf="confirm_password.length > 0 && confirm_password !== new_password">
      {{translation['Confirm Password Error']}}
    </div>
    <ion-item class="item item-ion-input">
      <ion-label class="ion-input-label">{{translation['Confirmation']}}:</ion-label>
      <ion-input type="password" [(ngModel)]="confirm_password"></ion-input>
    </ion-item>
  </ion-item-group>
  <div style="text-align: center; padding-top: 20px;">
    <ion-button *ngIf="user.id" [disabled]="new_password.length === 0 || new_password !== confirm_password"
      (click)="updatePassword()">{{translation['Save']}}</ion-button>
  </div>
</ion-content>